{block content}
	<h1 n:block=title>Statistics</h1>
	{include ../flashes.latte}
	<p>This section shows overall general statistics for last 14 days.</p>

	<h2>Global statistics</h2>
	<table class="stat">
		<tr><th>Metric</th><th>Value</th></tr>
		<tr><td>Organism count</td><td>{$globalStats->organism_count}</td></tr>
		<tr><td>Representation count</td><td>{$globalStats->representation_count}</td></tr>
		<tr><td>Users count</td><td>{$globalStats->user_count}</td></tr>
		<tr><td>Registered users count</td><td>{$globalStats->registered_count}</td></tr>
		<tr><td>Questions exercised</td><td>{$globalStats->question_count}</td></tr>
		<tr><td>Distinct organisms exercised</td><td>{$globalStats->exercised_organism_count}</td></tr>
	</table>

	<h2>Number of rounds &amp; unique users &amp; answers with success rate</h2>

	<table class="stat">
		<tr><th>Date</th><th># of rounds</th><th># of unique users</th><th># of answered questions</th><th># of correct answers</th><th>% success rate</th></tr>
		{foreach $range as $day}
			<tr><td>{$day|date:"Y-m-d"}</td>
				{if !isset($roundStats[$day->format('Y-m-d')])}
					<td>NA</td>
				{else}
					{var $item = $roundStats[$day->format('Y-m-d')]}
					<td>{$item['count']}</td>
				{/if}

				{if !isset($userStats[$day->format('Y-m-d')])}
					<td>0</td>
				{else}
					{var $item = $userStats[$day->format('Y-m-d')]}
					<td>{$item['count']}</td>
				{/if}
				{if !isset($answerStats[$day->format('Y-m-d')])}
					<td>NA</td>
					<td>NA</td>
					<td>NA</td>
				{else}
					{var $item = $answerStats[$day->format('Y-m-d')]}
					<td>{$item['all']}</td>
					<td>{$item['correct']}</td>
					<td>
						{if $item['all'] == 0}
							NA
						{else}
							{round(($item['correct']/$item['all'])*100,2)}&nbsp;%
						{/if}
					</td>
				{/if}
			</tr>
		{/foreach}
	</table>

	<h2>Organism distribution</h2>

	<p>Distribution of organisms in main questions for the period of last 14 days.</p>
	<p>For showing difficulty estimations you have to select desired model in form below.</p>
	{control modelSelection}

	<table class="stat">
		<tr><th>#</th><th>Organism</th><th>Latin name</th><th>Difficulty estimate</th><th># of asked questions</th></tr>
		{foreach $organismDistribution as $item}
			<tr><td>{$iterator->getCounter()}</td><td><b>{$item->name}</b></td><td>{$item->latin_name}</td><td>{$item->difficulty}</td><td>{$item->count}</td></tr>
		{/foreach}
	</table>

	<h2 id="representation-checker">Representation checker</h2>
	<p>This lets you fast search for organism's representations by ID.</p>
	{control representationSearch}
	{if isset($queryResult)}
		<table class="grid">
			<tr class="grid-columns"><th>Representation image</th><th>License & Info</th><th>Actions</th></tr>
			<tr n:foreach="$queryResult as $row">
				<td>{$row->id_representation}<br><img width="200px;" src="{$basePath}/images/organisms/{$row->id_representation}" alt="{$row->source}" /></td>
				<td><div style="width:500px;word-wrap:break-word;">{$row->hash}</div><br>{$row->source}<br>{$row->rights_holder}<br>{$row->license}</td>
				<td><a href="{plink Organism:edit, $row->id_organism}">Go to organism</a></td>
			</tr>
		</table>
	{/if}

{/block}
