form div.pair {
	margin-bottom: 15px;
}
form .button {

}

input[type=text],
input[type=password],
textarea {
	border-radius: 5px;
	padding: 5px;
	border: 2px solid #238319;
	outline: none;
	font-size: 1em;
}
input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
	box-shadow: 0px 0px 10px #59CA4D;
}

input[type=submit] {
	border: 0px;
	padding: 7px 30px;
	margin-top: 0px;
	font-weight: bold;
	color: white;
	border-radius: 5px;
	background: #A1891F;
	font-size: 1em;

}
input[type=submit]:hover {
	background: #F7DB5E;
	transition: background-color .35s;
	-webkit-transition: background-color .35s;
	outline: none;
}
input[type=submit]:active {
	outline: none;
}