@media only screen and (max-width: 1240px) {
	#top-bar h1 {
		margin-left: 20px;
	}
	#footer {
		padding-left: 20px;
		padding-right: 20px;
	}
	#user {
		margin-right: 20px;
	}
}

@media only screen and (max-width: 900px) {
	#menu-toogle {
		display: block;
	}
	#menu {
		display: none;
		width: 300px;
		float: left;
		clear: left;
		margin-left: 10px;
	}
	#menu ul {
		float: none;
	}
	#menu ul li {
		float: none;
		clear: left;
		margin-bottom: 30px;
	}
	.login-prompt {
		clear: left;
		margin-bottom: 20px;
		float: left;
	}
}

@media only screen and (max-width: 800px) {
	div.question-text-options {
		margin: 0px;
		clear: left;
	}
	div.question-image {
		margin: auto;
		margin-bottom: 30px;
		float: none;
	}

	.narrow-column {
		width: 95%;
	}

	.window-info progress[value] {
		width: 150px;
	}
	.responsive-image {
		width: 90%;
	}
}

@media only screen and (max-width: 500px) {
	#top-bar h1 {
		width: 0px;
		overflow: hidden;
	}
}

@media only screen and (min-height: 800px) {
	.window {
		top: 50px;
	}
}

@media only screen and (min-height: 920px) {
	.window {
		top: 100px;
	}
}