@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=latin,latin-ext);
/** Color scheme: http://colorschemedesigner.com/csd-3.5/#1o42PjPu-w0w0 */
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	background: #F7DB5E;
	padding: 0px;
	margin: 0px;
}
body.loading {
	background-image: url('../images/spinner.gif');
	background-position: center 20px;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
	color: #614DAA;
	padding: 2px;
}
a:hover {
	background: #614DAA;
	color: white;
	border-radius: 4px;
}

p {
	line-height: 1.5;
	margin-bottom: 20px;
}

div.cleaner {
	clear:both;
	height:1px;
	margin: -1px 0 0 0; padding:0;
	border:none;
	visibility: hidden;
}

#top-bar {
	text-align: center;
	height: 60px;
	background: #59CA4D;
	border-bottom: 3px solid #238319;
}
#top-bar.top-bar-opened {
	height: auto;
}
#top-bar.top-bar-opened #menu {
	display: block;
}
#top-bar-center {
	max-width: 1000px;
	text-align: left;
	margin: auto;
	padding-top: 5px;
}

#top-bar h1 {
	margin: 0px;
	color: white;
	text-shadow: 1px 1px 1px #088724;
	width: 150px;
	float: left;
	font-size: 1.5em;
}
#logo {
	padding-left: 60px;
	height: 60px;
	line-height: 25px;
	background: url(../images/logo.png) no-repeat;
}
#menu-toogle {
	display: none;
	color: #f4f2ef;
	font-weight: bold;
	font-size: 2em;
	float: left;
	margin-left: 20px;
}
#menu-toogle:hover {
	cursor: pointer;
	color: white;
}
#menu ul {
	float: left;
	list-style: none;
}
#menu ul li {
	float: left;
	margin-right: 30px;
}
#menu ul li a {
	color: #f4f2ef;
	padding: 7px 20px;
	border: 1px solid transparent;
	font-weight: bold;
}
#menu ul li a:hover,
#menu ul li a.active {
	border-radius: 5px;
	background: white;
	color: black;
	transition: background-color .35s;
	-webkit-transition: background-color .35s;
}

#user {
	float: right;
	vertical-align: middle;
	color: white;
	text-align: center;
	margin-top: 0px;
}
#user span.username {
	margin-top: 10px;
}
#user span.links {
	clear: both;
	margin-top: 5px;
	display: block;
}

#content {
	background: #FFF5CA;
	min-height: 500px;
}
#content-center {
	max-width: 1000px;
	text-align: left;
	margin: auto;
	padding: 20px;
}

#feedback-button {
	position: fixed;
	top: 250px;
	right: -70px;
	z-index: 999;
}
#feedback-button a {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	display: inline-block;
	width: 140px;
	background: #A1891F;
	padding: 8px 16px;
	color: #fff;
	text-align: center;
	font-size: 1.3em;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	transition: background 0.3s, color 0.3s;
}
#feedback-button a:hover {
	background: white;
	color: black;
}

#footer {
	border-top: 3px solid #A1891F;
	text-align: center;
}
#footer-center {
	max-width: 780px;
	text-align: left;
	margin: auto;
}
.more-about {
	float: left;
	width: 150px;
	margin-top: 15px;
	margin-right: 50px;
}
.more-about ul {
	list-style: none;
	margin-top: 0px;
	padding-left: 0px;
}
.other-projects {
	float: left;
	margin-right: 50px;
	margin-top: 15px;
}
.other-projects ul {
	list-style: none;
	margin-top: 5px;
	padding-left: 0px;
}
.more-about ul li,
.other-projects ul li {
	margin-bottom: 5px;
}
.institutions {
	margin-top: 20px;
}
.institutions a {
	margin-right: 20px;
}
.institutions a:hover {
	background: inherit;
}
.institutions a img {
	margin-bottom: 20px;
}

a.report {
	margin-left: 20px;
}

.window-shadow {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: black;
	opacity: 0.65;
}
.window {
	position: absolute;
	background: white;
	border-radius: 5px;
	top: 10px;
	margin: auto;
	left:10px;
	right:10px;
	max-width: 900px;
	border: 3px solid #A1891F;
}
.window-header {
	padding: 10px;
	background: #FBE686;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom: 3px solid #F7DB5E;
}
.window-title {
	margin-top: 0px;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
}
.window-info {
	float: right;
	line-height: 30px;
}
.window-info progress[value] {
	vertical-align: middle;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	border: none;

	width: 250px;
	height: 20px;

	color: #59CA4D;
	background-color: white;
	border-radius: 5px;
	transition: width 0.6s ease;
}
.window-info progress[value]::-webkit-progress-value {
	background-color: #59CA4D;
	border-radius: 5px;
	transition: width 0.6s ease;
}
.window-info progress[value]::-webkit-progress-bar {
	background-color: white;
	border-radius: 5px;
}
.window-info progress[value]::-moz-progress-bar {
	background-color: #59CA4D;
	border-radius: 5px;
	transition: width 0.6s ease;
}

.window-close {
	font-weight: bold;
	float: right;
	line-height: 30px;
	font-size: 150%;
	margin-left: 20px;
}
.window-close a {
	padding-left: 10px;
	padding-right: 10px;
	color: black;
}
.window-close a:hover {
	background: white;
	color: black;
}
.window-content {
	position: relative;
}
.window-padding {
	padding: 20px;
	padding-top: 0px;
}
#question-loading {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(251,235,165,0.75);
	z-index: 1000;
	text-align: center;
	padding-top: 50px;
}

div.concept {
	background: #FBEBA5;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 30px;
}
span.concept-name {
	font-weight: bold;
	font-size: 1.2em;
	display: inline-block;
	float: left;
}
span.concept-description {
	display: inline-block;
	float: left;
	clear: left;
}
a.start-button {
	float: right;
	display: inline-block;
	padding: 7px 30px;
	margin-top: 0px;
	font-weight: bold;
	color: white;
	border-radius: 5px;
	background: #A1891F;
}
a.button,
a.quick-button {
	display: inline-block;
	padding: 7px 30px;
	margin-top: 0px;
	font-weight: bold;
	color: white;
	border-radius: 5px;
	background: #A1891F;
	margin-right: 10px;
}

a.start-button:hover,
a.button:hover {
	background: #F7DB5E;
	transition: background-color .35s;
	-webkit-transition: background-color .35s;
}
a.quick-button:hover {
	color: black;
	background: white;
	transition: background-color .35s, color .35ms;
	-webkit-transition: background-color .35s, color .35ms;
}

div.question {
	padding: 10px;
	font-size: 150%;
	min-width: 340px;
}
div.question-text {
	margin-bottom: 30px;
}
div.question-image {
	margin-bottom: 30px;
	float: left;
	width: 300px;
	height: 300px;
	border-radius: 5px;
}
div.question-image img {
	border-radius: 5px;
}
div.question-text-options {
	margin-left: 320px;
}
div.question-choose-representation {
	text-align: center;
}
div.question-image-options {

}

span.question-text-option,
span.question-image-option {
	display: block;
	position: relative;
	margin-bottom: 15px;
	background: #f6f4f1;
	padding: 20px;
	border-radius: 5px;
	cursor: pointer;
	color: gray;
}

span.question-text-option:hover {
	background: #e0dedb;
	color: black;
}
span.question-image-option:hover {
	background: #9e9c99;
}

span.question-image-option {
	vertical-align: middle;
	display: inline-block;
	margin-right: 20px;
	padding: 8px;
}

span.question-image-option img {
	border-radius: 0px;
	vertical-align: top;
}

span.dummy-cleaner:nth-of-type(1) {
	clear: both;
	display: block;
}
span.correct,
span.correct:hover {
	color: white;
	background: #59CA4D;
	transition: background-color 150ms;
	transition: border-color 150ms;
}
span.wrong,
span.wrong:hover {
	color: white;
	background: #F9858B;
	transition: background-color 150ms;
	transition: border-color 150ms;
}
span.wrong {
	-webkit-animation: wrong-nod 600ms linear;
	-moz-animation: wrong-nod 600ms linear;
	-o-animation: wrong-nod 600ms linear;
	animation: wrong-nod 600ms linear;
}
span.correct {
	-webkit-animation: correct-shine 600ms linear;
	-moz-animation: correct-shine 600ms linear;
	-o-animation: correct-shine 600ms linear;
	animation: correct-shine 600ms linear;
}

span.dead-end,
span.continue {
	display: inline-block;
	visibility: hidden;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 40px;
	font-weight: bold;
	text-align: center;
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}
span.wrong span.dead-end {
	visibility: visible;
	opacity: 1;
	background: #F9858B;
	transition: opacity 0.3s;
}
span.correct:hover span.continue {
	width: 90px;
	transition: width 300ms;

}
span.correct span.continue {
	visibility: visible;
	opacity: 1;
	background: #52ac47;
	transition: opacity 0.3s, width 300ms;
}

.question-image-option span.dead-end span,
.question-image-option span.continue span {
	position: absolute;
	top: 44%;
	right: 10px;
}

.question-text-option span.dead-end span,
.question-text-option span.continue span {
	position: absolute;
	top: 27%;
	right: 10px;
}

div.loading {
	width: 220px;
	height: 19px;
	background-image: url('../images/spinner.gif');
}

div.flash {
	padding: 10px;
	background: #FBEBA5;
	border-radius: 5px;
	margin-top: 10px;
	margin-bottom: 20px;
}

#external-logins {
	margin-bottom: 30px;
}
.button.facebook {
	clear: both;
	color: #fff;
	background-color: #428bca;
	border-color: #357ebd;
}
.button.google {
	clear: both;
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
}

.quick-choice {
	background: #F7DB5E;
	padding: 20px;
	margin-top: -20px;
	text-align: center;
	font-size: 150%;
}
.narrow-column {
	width: 780px;
	margin: auto;
	padding: 20px;
}
.adaptive {
	margin-bottom: 30px;
	background: url('../images/adaptive.png') no-repeat;
	padding-left: 85px;
}

.specialized-system {
	background: url('../images/specialized-system.png') no-repeat;
	padding-left: 85px;
	margin-bottom: 30px;
}

.data-learning {
	background: url('../images/data-learning.png') no-repeat;
	padding-left: 85px;
	margin-bottom: 30px;
}

[data-ember-action] {
	cursor: pointer;
}