{block content}
	<h1 n:block=title>Edit organism: {$data->latin_name}</h1>
	{control editForm}

	<h2>Representations</h2>

	{include ../flashes.latte}

	{control addRepresentationForm}

	<table class="grid">
		<tr class="grid-columns"><th>Representation image</th><th>Source</th><th>Actions</th></tr>
		<tr n:foreach="$representations as $row"><td><img width="200px;" src="{$basePath}/images/organisms/{$row->id_representation}" alt="{$row->source}" /></td><td>{$row->source}</td><td><a href="{plink deleteRepresentation!, $row->id_representation}">Delete</a></td></tr>
	</table>

{/block}
