#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	facebook:
		appId:
		appSecret:
	google:
		clientId:
		clientSecret:
	mails:
		feedback: jan.drabek@mail.muni.cz

tracy:
	email: jan.drabek@mail.muni.cz

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes


nette:
	application:
		errorPresenter: Error
		mapping:
			*: NatureQuizzer\*Module\Presenters\*Presenter
	session:
		expiration: 0
	latte:
		macros:
			- Nextras\Latte\Macros\RedefineMacro::install

services:
	- NatureQuizzer\Database\Model\Admin
	- NatureQuizzer\Database\Model\Answer
	- NatureQuizzer\Database\Model\Authorizator
	- NatureQuizzer\Database\Model\Concept
	- NatureQuizzer\Database\Model\Group
	- NatureQuizzer\Database\Model\Organism
	- NatureQuizzer\Database\Model\Language
	- NatureQuizzer\Database\Model\Package
	- NatureQuizzer\Database\Model\Round
	- NatureQuizzer\Database\Model\User
	- NatureQuizzer\Database\Model\OrganismDifficulty
	- NatureQuizzer\Database\Model\OrganismCommonness
	- NatureQuizzer\Database\Model\Model
	- NatureQuizzer\Database\Model\PriorKnowledge
	- NatureQuizzer\Database\Model\CurrentKnowledge
	- NatureQuizzer\RouterFactory
	- NatureQuizzer\Runtime\CurrentLanguage
	- NatureQuizzer\Runtime\CurrentUser
	- NatureQuizzer\Runtime\CurrentClient
	- NatureQuizzer\Runtime\CurrentRound
	- NatureQuizzer\Processors\AnswerProcessor
	- NatureQuizzer\Processors\ConceptsProcessor
	- NatureQuizzer\Processors\FeedbackProcessor
	- NatureQuizzer\Processors\QuestionsProcessor
	- NatureQuizzer\Processors\UserProcessor
	- NatureQuizzer\Processors\SummaryProcessor
	- NatureQuizzer\Model\Utils\UserAnswerFactory
	- NatureQuizzer\Model\EloRandomDistractors
	- NatureQuizzer\Model\EloTaxonomyDistractors
	- NatureQuizzer\Database\Utils\LanguageLookup
	-
		class: NatureQuizzer\Model\ModelFacadeFactory
		setup:
			- register(@NatureQuizzer\Model\EloRandomDistractors)
			- register(@NatureQuizzer\Model\EloTaxonomyDistractors)

	user: NatureQuizzer\Utils\User
	- NatureQuizzer\Utils\Facebook
	- NatureQuizzer\Utils\Google

	router: @NatureQuizzer\RouterFactory::createRouter
