<form {{action "submit" on="submit"}}>
	<div class="pair">
		{{input value=email placeholder='E-mail'}}
	</div>
	<div class="pair">
		{{input type='password' value=password placeholder='Heslo'}}
	</div>
	<div class="pair">
		<input type="submit" {{bind-attr value=submitTitle}}>
	</div>
</form>