<h2>Odhlášení</h2>
<div class="flash success">Byli jste úspěšně odhlášeni. Na viděnou příště.</div>
<div>
	{{#link-to 'index' classNames='button'}}Vybrat téma{{/link-to}}
	{{#link-to 'user.login' classNames='button'}}Přihlásit se{{/link-to}}
</div>