<div class="narrow-column">
	<h2>{{translate 'user.heading_logout'}}</h2>
	<div class="flash success">{{translate 'user.logout_success'}}</div>
	<div>
		{{#link-to 'user.login' classNames='button'}}{{translate 'user.login'}}{{/link-to}}
	</div>
</div>