{define table-open-tag}
	<table class="grid">
{/define}

{define global-actions}
	<a class="grid-add" href="{plink Concept:add}">Add</a>
{/define}

{define row-actions}
	<a class="grid-edit" href="{plink Concept:edit, $primary}">Edit</a>
	<a class="grid-edit" href="{plink Concept:manage, $primary}">Manage</a>
	<a class="grid-delete" href="{plink Concept:delete, $primary}">Delete</a>
{/define}