<div class="window">
	<div class="window-header">
		<div class="window-title">
			Napište nám
		</div>
		<div class="window-close"><a {{action 'closeContactModal'}} title="Zavřít">&#x2715;</a></div>
		<div class="window-info"></div>
		<div class="cleaner"></div>
	</div>
	<div class="window-content window-padding">
		{{contact-form}}
	</div>
</div>