<div id="external-logins">
	<a href="{{facebookLoginLink}}" class="button facebook">{{translate 'via_facebook'}}</a>
	<a href="{{googleLoginLink}}" class="button google">{{translate 'via_google'}}</a>
</div>