<div class="flash success">{{translate 'user.you_are_logged_in'}}</div>
<div>
	{{#link-to 'index' classNames='button'}}{{translate 'user.choose_topic'}}{{/link-to}}
	{{#link-to 'user.logout' classNames='button'}}{{translate 'user.logout'}}{{/link-to}}
</div>