<div id="window">
	<div id="window-header">
		<div class="window-title">
			{{#if all}}
				Náhodný mix
			{{/if}}
			{{concept.name}}
		</div>
		<div class="window-info">Otázka: {{questionCurrent}} z {{questionMaxCount}} otázek.</div>
		<div class="cleaner"></div>
		<h2>Probíhá načítání, vyčkejte prosím</h2>
		<div class="loading">&nbsp;</div>
	</div>
</div>