<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="description" content="">

	<title>{block title|striptags}Nature Quizzer{/block}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/src/admin/screen.css">
	{block head}{/block}
</head>

<body>
	<div id="center">
		{if $user->isLoggedIn()}
			{include admin-menu.latte}
		{/if}
		<div id="envelope">
			{include content}
		</div>
	</div>

	{block scripts}
		<script src="{$basePath}/js/admin/netteForms.js"></script>
		<script src="{$basePath}/js/admin/nette.ajax.js"></script>
	{/block}
</body>
</html>
