<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
	<meta name="description" content="Poznávačka přírody: procvičte a naučte se zvířata, rostliny... za pomoci aplikace, která se přizpůsobí vašemu tempu a znalostem.">
 	<meta charset="utf-8">

 	<meta property="og:type" content="website" />
	<meta property="og:image" content="{php echo $control->link('//Homepage:'); }images/showcases/1.jpg"/>
	<meta property="og:image" content="{php echo $control->link('//Homepage:'); }images/showcases/2.jpg"/>
	<meta property="og:image" content="{php echo $control->link('//Homepage:'); }images/showcases/3.jpg"/>
	<meta property="og:image" content="{php echo $control->link('//Homepage:'); }images/showcases/4.jpg"/>
	<meta property="og:image" content="{php echo $control->link('//Homepage:'); }images/showcases/5.jpg"/>
	<meta property="og:image" content="{php echo $control->link('//Homepage:'); }images/logo.svg"/>

	<title>Poznávačka přírody</title>

	<link rel="stylesheet" href="/src/screen.css?v=3">
	<link rel="shortcut icon" href="/favicon.ico">
	<link href="/images/logo.png" rel="icon" />

	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="white-translucent">
	<meta name="apple-mobile-web-app-title" content="Poznávačka">
	<link rel="apple-touch-icon" href="/images/app_icon_ios.png">

	<link href="/images/splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
	<link href="/images/splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
	<link href="/images/splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
	<link href="/images/splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
	<link href="/images/splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
	<link href="/images/splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
	<link href="/images/splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
	<link href="/images/splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
	<link href="/images/splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
	<link href="/images/splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />


	<link rel="manifest" href="/manifest.json">
</head>
<body class="loading" n:syntax="off">
	<script src="/src/scripts.js?v=3"></script>
	<script src="/src/templates.js?v=3"></script>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-S1P0MEFFYB"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-S1P0MEFFYB');
		gtag('set', { 'send_page_view': false }); // Disable automatic pageview sending as Ember sends this automatically on route transition
	</script>
</body>
</html>
