<!DOCTYPE html>
<html n:syntax="off">
<head>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
 	<meta charset="utf-8">
	<title>Příroda</title>
	<link rel="stylesheet" href="/src/screen.css">
</head>
<body>
	<script src="/src/scripts.js"></script>
	<script src="/src/templates.js"></script>
</body>
</html>
