<div id="admin-menu">
	<ul>
		{if $user->isAllowed('commons')}<li {ifCurrent Admin:}class="selected"{/ifCurrent}><a href="{plink Admin:}">Administration</a></li>{/if}
		{if $user->isAllowed('admins')}<li {ifCurrent Admin:list}class="selected"{/ifCurrent}><a href="{plink Admin:list}">Admins</a></li>{/if}
		{if $user->isAllowed('content')}<li {ifCurrent Group:*}class="selected"{/ifCurrent}><a href="{plink Group:}">Group</a></li>{/if}
		{if $user->isAllowed('content')}<li {ifCurrent Concept:*}class="selected"{/ifCurrent}><a href="{plink Concept:}">Concepts</a></li>{/if}
		{if $user->isAllowed('content')}<li {ifCurrent Organism:*}class="selected"{/ifCurrent}><a href="{plink Organism:}">Organisms</a></li>{/if}
		{if $user->isAllowed('content')}<li {ifCurrent Model:*}class="selected"{/ifCurrent}><a href="{plink Model:}">Models</a></li>{/if}
		{if $user->isAllowed('content')}<li {ifCurrent Diagnostic:*}class="selected"{/ifCurrent}><a href="{plink Diagnostic:}">Diagnostic</a></li>{/if}

		{if $user->isAllowed('commons')}<li {ifCurrent Admin:password}class="selected"{/ifCurrent}><a href="{plink Admin:password}">Change password</a></li>{/if}
		{if $user->isAllowed('commons')}<li><a href="{plink Admin:logout}">Logout</a></li>{/if}
	</ul>
	<div class="cleaner"></div>
</div>
{ifCurrent Diagnostic:*}
	<div id="admin-submenu">
		<ul>
			{if $user->isAllowed('content')}<li {ifCurrent Diagnostic:}class="selected"{/ifCurrent}><a href="{plink Diagnostic:}">Statistics</a></li>{/if}
			{if $user->isAllowed('content')}<li {ifCurrent Diagnostic:organism}class="selected"{/ifCurrent}><a href="{plink Diagnostic:organism}">Organism search</a></li>{/if}
			{if $user->isAllowed('content')}<li {ifCurrent Diagnostic:representation}class="selected"{/ifCurrent}><a href="{plink Diagnostic:representation}">Representation search</a></li>{/if}
		</ul>
		<div class="cleaner"></div>
	</div>
{/ifCurrent}